{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'navbarFooter.css' %}">
    <link rel="stylesheet" href="{% static 'greyBoxTable.css' %}">
    <link rel="stylesheet" href="{% static 'blueBoxTable.css' %}">
    <link rel="stylesheet" href="{% static 'accordian.css' %}">
    <link rel="stylesheet" href="{% static 'popUp.css' %}">
    <script src="{% static 'accordianFunction.js' %}"></script>
    <script src="{% static 'popUpScript.js' %}"></script>
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
            opacity: 1;
            transition: opacity 0.6s; /
        }
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        .closebtn:hover {
            color: black;
        }
    </style>
</head>
<body>
<div class="navbar">
    <ul>
        <li class="title"><a href="">The Peepo's Nest</a></li>
    </ul>
    <ul class="user-info">
        <li><a href="{% url 'login' %}">Sign Out</a></li>
        <li><a href="{% url 'userprofile' %}">User</a></li>
        
    </ul>
</div>
<div class="admin-nav">
    <ul class="adminNav-links">
        <li>Admin Panel</li>
        <li><a href="{% url 'reportmanagement' %}">Report Generation</a></li>
        <li><a href="/admin/authentication_app/customuser/">User Management</a></li>
        <li><a href="{% url 'adminReservation' %}">Reservation Management</a></li>
        <li><a href="{% url 'inventorymanagement' %}">Inventory Management</a></li>
    </ul>
</div>
<div class="plainMainPanel">
    <h2>Alert</h2>
    <div class="plainInnerPanel">
        {% if current_alerts %}
            {% for alert in current_alerts %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ alert.message }}
                </div>
            {% endfor %}
        {% else %}
            <p>You currently have no equipment to return.</p>
        {% endif %}
        
    </div>
</div>
<div class="mainPanel">
    <div class="OuterBar">
        <div class="boxHeader">
            <h2>List of Equipment</h2>
            <button id="helpBtn" class="circleBtn">?</button>
        </div>
        <div class="restrictResults">
            <input type="text" placeholder="Search for Equipment" name="search" id="search-bar">
            <select id="sortBy" name="sortBy" class="custom-select">
                <option value="sort">Sort By &#9660;</option>
                <option value="devType">Device Type</option>
                <option value="devType">Availability</option>
                <option value="devType">Location</option>
            </select>
            <select id="filterBy" name="filterBy" class="custom-select">
                <option value="filter">Filter By &#9660;</option>
                <option value="inStock">In Stock</option>
                <option value="inStock">Out of Stock</option>
                <option value="inStock">Device Type</option>
                
                <!-- Additional options -->
            </select>
            <button id="addBtn" class="addBtn">&plus;</button>
        </div>
    </div>

        <div class="InnerPanel">
            <table class="equipment-table">
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Device Type</th>
                        <th>Status</th>
                        <th>Location</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipment in equipments %}
                    <tr>
                        <td>{{ equipment.name }}</td>
                        <td>{{ equipment.type }}</td>
                        <td>{{ equipment.status }}</td>
                        <td>{{ equipment.location }}</td>
                        <td>{{ equipment.quantity }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No equipment found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<!-- footer -->
<div class="unibanner">
    <img src="https://static.yuna.potential.ly/public/open/5e273a2a85dc09000100c61c/westminster-logo.png">
</div>
</body>
</html>
