<div class="bg-modal">
    <div class="create-record">
        <div id="closeBtn" class="close">&times;</div>
        <form>
            <label for="devName">Device Name : </label>
            <input type="text" id="devName"><br>
            <label for="devType">Device Type : </label>
            <input type="text" id="devType"><br>
            <label for="buildingLocation">Location : </label>
            <input type="text" id="buildingLocation"><br>
            <label for="locationAccess">Location Access : </label>
            <input type="text" id="locationAccess"><br>
            <label for="audit">Audit : </label>
            <input type="text" id="audit"><br>
            <label for="userType">User Access :</label>
            <input type="text" id="userType"><br>
            <label for="serialNum">Device Serial No. : </label>
            <input type="text" id="serialNum"><br>
            <label for="cpu">CPU : </label>
            <input type="text" id="cpu"><br>
            <label for="gpu">GPU : </label>
            <input type="text" id="gpu"><br>
            <label for="ram">RAM : </label>
            <input type="text" id="ram"><br>
            <label for="comments">Comments : </label>
            <input type="text" id="comments" value="asdfghjklasdfghjksdfghjkl;asdfghjklsdxfcghgvbjnmfb"><br>
            <input type="button" value="Save">
            <input type="reset" value="Reset">
        </form>
    </div>
</div>