{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory Management</title>
        <link rel="stylesheet" href="{% static 'navbarFooter.css' %}">
        <link rel="stylesheet" href="{% static 'greyBoxTable.css' %}">
        <link rel="stylesheet" href="{% static 'blueBoxTable.css' %}">
        <link rel="stylesheet" href="{% static 'accordian.css' %}">
        <link rel="stylesheet" href="{% static 'popUp.css' %}">
        <script src="{% static 'accordianFunction.js' %}"></script>
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li class="title"><a href="">The Peepo's Nest</a></li>
            </ul>
            <ul class="user-info">
                <li><a href="">Sign Out</a></li>
                <li><a href="">User Name</a></li>
                
            </ul>
        </div>
        <div class="admin-nav">
            <ul class="adminNav-links">
                <li>Admin Panel</li>
                <li><a href="">Report Generation</a></li>
                <li><a href="">User Management</a></li>
                <li><a href="">Reservation Management</a></li>
                <li><a href="inventorymanagement.html">Inventory Management</a></li>
            </ul>
        </div>
        <div class="plainMainPanel">
            <h2>Alert</h2>
            <div class="plainInnerPanel">
                <p>There is currently x equipment being borrowed</p>
                <p>Check the Reservation Management page for more details</p></td>
            </div>
        </div>
        <div class="mainPanel">
            <div class="OuterBar">
                <div class="boxHeader">
                    <div>
                        <h2>Current Reservations</h2>
                    </div>
                    <div class="deviceTotal">
                        <p class="rounded">Devices Borrowed: </p>
                        <p class="rounded">Devices Overdue: </p>
                    </div>
                    <div>
                        <button id="myRBtn"><b><p class="circleBtn">?</p></b></button>
                    </div>
                </div>      
            </div>
            <div class="InnerPanel">
                <table class="accordian">
                    <tr>
                        <th>Device Name</th>
                        <th>Device Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Quantity</th>
                    </tr>
                    <tr class="accordian-item">
                        <td><button onclick="toggleAccordion(this)">name</button></td>
                        <td><button onclick="toggleAccordion(this)">type</button></td>
                        <td><button onclick="toggleAccordion(this)">dd/mm/yyyy</button></td>
                        <td><button onclick="toggleAccordion(this)">dd/mm/yyyy</button></td>
                        <td><button onclick="toggleAccordion(this)">x</button></td>
                    </tr>
                    <tr class="accordian-content">
                        <td colspan="5">
                            <form action="/action_page.php" autocomplete="off">
                                <div class="rowOne">
                                    <div>
                                        <b><p>Device Name :</p></b>
                                        <p class="contentRecord"></p>
                                    </div>
                                    <div>
                                        <b><p>Location :</p></b>
                                        <p class="contentRecord"></p>
                                    </div>
                                    <div>
                                        <b><p>Status :</p></b>
                                        <p class="contentRecord"></p>
                                    </div>
                                </div>
                                <div class="rowTwo">
                                    <div>
                                        <b><p class="contentLabel">Device Type :</p></b>
                                        <p class="contentRecord">name</p>
                                    </div>
                                    <div>
                                        <b><p>Quantity: </p></b>
                                        <p contenteditable="true" class="contentRecord"><input type="number" id="quantity" name="quantity" size="14" min="1" required></p>
                                    </div>
                                </div>
                                <div class="rowThree">
                                    <div>
                                        <b><p>Borrow Date: </p></b>
                                        <p class="contentRecord"><input type="date" class="startdate" name="startdate" required></p>
                                        <b><p>to</p></b>
                                        <p class="contentRecord"><input type="date" class="enddate" name="enddate" required></p>
                                    </div>
                                    <div>
                                        <p><button id="extraBtn">Extra Info</button></p>
                                    </div>
                                </div>
                                <div class="rowFour">
                                    <input type="submit" value="Save">
                                    <button type="reset" id="cancelchanges">Cancel Changes</button>
                                    <button id="cancelreservation">Cancel Reservation</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
                <div id="extra" class="modal">
                    <!-- /*Modal content*/ -->
                    <!-- <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="popuptext" style="background-color: rgb(226, 226, 226);color:black;">Extra Info</p>
                        <p style="text-align: left;width: 100%;background-color: white;color:black">Audit:
                        <br>
                        User Access: 
                        <br>
                        Device Serial No.: 
                        <br>
                        Example:
                        <br>
                        Example:
                        <br>
                        Example: </p>
                    </div> -->
                </div>
            </div>
            <br>
        </div>
        <div class="mainPanel">
            <div class="OuterBar">
                <div class="boxHeader">
                    <h2>List of Equipment</h2>
                    <button id="myRBtn"><b><p class="circleBtn">?</p></b></button>
                </div>
                <div class="restrictResults">
                    <form action="" id="search">
                        <input type="text" placeholder="Search for Equipment" name="search" id="search-bar">
                    </form>
                    <form action="" method="post"> 
                        <select id="sortBy" name="sortBy" class="custom-select">
                            <option value="sort">Sort By &#9660</option>
                            <option value="devType">Device Type</option>
                            <option value="availability">Availability</option>
                            <option value="location">Location</option>
                            <option value="recentlyAdded">Recently Added</option>
                            <option value="quantity">Quantity</option>
                        </select>
                    </form>
                    <form action="" method="post">
                        <select id="filterBy" name="filterBy" class="custom-select">
                            <option value="filter">Filter By &#9660</option>
                            <option value="inStock">In Stock</option>
                            <option value="outStock">Out of Stock</option>
                            <option value="devType">Device Type</option>
                        </select>
                    </form>
                    <button id="myRBtn"><b><p class="addBtn">+</p></b></button>
                </div>
            </div>
            <div class="InnerPanel">
                <table class="accordian">
                    <tr>
                        <th>Device Name</th>
                        <th>Device Type</th>
                        <th>Status</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                    </tr>
                </table>
                <hr>
                <table class="accordian">
                    <tr class="accordian-item">
                        <td>
                            <button>Device Name</button>
                            <button>Device Type</button>
                            <button>Status</button>
                            <button>Location</button>
                            <button>Quantity</button>
                            <button>Edit</button>
                        </td>
                    </tr>
                    <tr class="accordian-content">
                        <td colspan="7">

                        </td>
                    </tr>
                    <tr class="accordian-item">
                        <td>
                            <button>Device Name</button>
                            <button>Device Type</button>
                            <button>Status</button>
                            <button>Location</button>
                            <button>Quantity</button>
                            <button>Edit</button>
                        </td>
                    </tr>
                    <tr class="accordian-content">
                        <td colspan="7">

                        </td>
                    </tr>
                    <tr class="accordian-item">
                        <td>
                            <button>Device Name</button>
                            <button>Device Type</button>
                            <button>Status</button>
                            <button>Location</button>
                            <button>Quantity</button>
                            <button>Edit</button>
                        </td>
                    </tr>
                    <tr class="accordian-content">
                        <td colspan="7">

                        </td>
                    </tr>
                    <tr class="accordian-item">
                        <td>
                            <button>Device Name</button>
                            <button>Device Type</button>
                            <button>Status</button>
                            <button>Location</button>
                            <button>Quantity</button>
                            <button>Edit</button>
                        </td>
                    </tr>
                    <tr class="accordian-content">
                        <td colspan="7">

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <!-- footer -->
        <div class="unibanner">
            <img src="https://static.yuna.potential.ly/public/open/5e273a2a85dc09000100c61c/westminster-logo.png">
        </div>
    </body>
</html>