<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Management</title>
        <link rel="stylesheet" href="{% statis 'stylesheet.css' %}">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li class="home"><a href="">Web Application</a></li>
                <li><a href="">User Name</a></li>
                <li><a href="">Sign Out</a></li>
            </ul>
        </div>
        <div class="adminNav">
            <ul>
                <li>Admin Panel</li>
                <li><a href="">Report Generaiton</a></li>
                <li><a href="">User Management</a></li>
                <li><a href="">Reservation Management</a></li>
                <li><a href="inventorymanagement.html">Inventory Management</a></li>
            </ul>
        </div>
        <div class="alertPanel">
            <table class="alertOuterPanel">
                <tr>
                    <td><h2>Alert</h2></td>
                </tr>
            </table>
        </div>
        <div class="equipList">
            <table class="equipOuterPanel">
                <tr>
                    <td><h2>List of Equipment</h2></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Sort By</td>
                    <td>Filter By</td>
                </tr>
            </table>
        </div>
    </body>
</html>