        .box {
            border-radius: 15px;
            background-color: #448093;
            margin-top: 40px;
            margin-left: min(30%, 1000px);
            margin-right: min(30%, 10000px);
            padding-bottom: 50px;
            /* max-width: 100%;
            min-width: 80%; */
            
        }

        h2 {
            padding-top: 15px;
            padding-left: 30px;
            letter-spacing: 0.25px;
            font-size: 35px;
        }

        .subbox {
            border-radius: 15px;
            background-color: white;
            padding: 5px;
            margin: 20px;
            margin-bottom: 0;
            overflow-x: auto;
        }

        .usertable td {
            padding: 15px;
        }

        .usertable {
            margin-left: auto;
            margin-right: auto;
            font-size: 25px;
        }

        a {
            text-decoration: none;
            color: black;
        }
        
        .box input {
            border-radius: 15px;
            background-color: rgb(226, 226, 226);
            height: 30px;
        }

        .reservationbox {
            background-color: #488494;
            border-radius: 15px;
            margin-top: 40px;
            margin-left: 65px;
            margin-right: 65px;
            margin-left: min(15%, 400px);
            margin-right: min(15%, 400px);
            overflow-x: auto;
        }

        .rounded {
            background-color: white;
            border-radius: 25px;
            margin: 10px;
            padding: 5px;
            padding-right: 100px;
            margin-left: 0px;
            margin-left: min(0%, 50px);
        }

        .listbox {
            background-color: white;
            border-radius: 15px;
            padding: 5px;
            margin: 20px;
            margin-top: 0;
            margin-bottom: 0;
            height: 200px;
            overflow: auto;
        }

        .list {
            table-layout: fixed;
            width: 100%;
            padding: 10px;
            text-align: center;
            border-collapse: separate;
            border-spacing: 10px;
        }

        .list th {
            background-color: rgb(226, 226, 226);
            padding: 10px;
            border-radius: 25px;
        }

        .list td {
            border-radius: 25px;
            padding: 10px;
            border-collapse: separate;
            background-color: rgb(226, 226, 226);
        }

        .sign-up-login-row {
            display: flex;          
            justify-content: space-between; 
            align-items: center;    
            padding: 10px;    
        }
        
        .login-signup-btn {
            flex: 1;                
            text-align: center; 
            padding: 10px 30px; 
            margin: 0; 
            font-size: 16px; /
            
        }

        .login-signup-btn a {
            font-size: 30px;
            letter-spacing: 1px;
            text-decoration: none;
            color: white;
            background-color: #488494;
            padding: 5px;
            border-radius: 10px;
            display: block;
        }
        
        #active-btn a {
            background-color: #FFFFFF;
            color: rgb(46, 46, 46);
            border-radius: 30px;
        }
        
        #active-btn  a:hover{
            transition: all .2s ease-in-out;
            border-color: #141414;
            border-width: 3px;
            border-style: solid;            
        }
        #non-active a {
            background-color: #448093;
            color: white;
            border-radius: 30px;
            border-color: #FFFFFF;
            border-width: 3px;
            border-style: solid;
        }
    


        #non-active a:hover {
            transition: all .35s ease-in-out;
            color:black;
            background-color: white;
            border-radius: 30px;
        }


  
