.accordian-item:nth-of-type(odd) button {
    background-color: #F1F0F0; /* Set background color for buttons in odd rows */
}
.accordian-item:nth-of-type(even) button {
    background-color:#D6D6D6 ; /* Set background color for buttons in even rows */
}
.accordian-content {
    background-color: #D6D6D6;
    display: none;
}

/* without makes the first th and td the width of the accordian panel before it colspans*/
.accordian tr th,
.accordian tr td {
    width: auto;
}
.accordian tr:first-child th{
    border-radius: 25px;
    color: black;
    padding: .5em;
    font-size: 20px;
    text-align: center;
    background-color: #D6D6D6;
}
.accordion tr td {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* width: auto; */
    text-align: left;
    outline: none;
}
.accordian-item td, .accordian-content td {
    width: 100%;
}
.accordian-item button {
    border-radius: 25px;
    border-style: none;
    padding: .5em;
    font-size: large; 
    cursor: pointer;
    width: 100%;
}
form > div {
    display: flex;
    justify-content: space-between; /* Adjusts the children's spacing */
    align-items: center; /* Aligns children vertically in the center */
    flex-wrap: wrap;
    margin: 0 1em;
}
form > div .contentRecord{
    background-color: #F1F0F0;
    border-radius: 25px;
    padding: 1em;
    margin: 0;
}
.rowOne > div, .rowTwo > div, .rowThree > div, .rowFour > div{
    display: flex;
    align-items: center;  
}
.rowOne p, .rowTwo p, .rowThree p, .rowFour p {
    padding: 0 1em;
}
.rowOne p:nth-child(even), .rowTwo p:nth-child(even), .rowThree p:nth-child(even){
    margin: 0;
    background-color: white;
    border-radius: 40px;
}
.rowTwo > div p.contentRecord, .rowThree > div p.contentRecord {
    background-color: white;
    border-radius: 40px;
    padding: 10px; /* Adjust padding as needed */
    margin: 0; /* Remove default margin */
}
.rowTwo > div input, .rowThree > div input {
    border-radius: 40px;
    padding: 10px; /* Adjust padding as needed */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text within the input */
    width: 80%; /* Adjust width as needed */
}
.rowFour input, .rowFour button, #extraBtn{
    border-radius: 40px;
    border-style: none;
    text-decoration: underline;
    padding: 1em;
    font-size: large;
}
.rowFour input, .rowFour button{
    background-color: #F1F0F0;
}
#extraBtn{
    background-color: #488494;
    color: white;
}