.mainPanel{
    background-color: #448093;
    margin: 2em 2em;
    border-radius: 25px;
    padding: 2em;
}
.OuterBar{
    padding-bottom: 1em;
    width: 100%;
}
.OuterBar h2 {
    text-align: left;
    font-size: 40px;
    color:white;
    margin: 0;
}
.boxHeader {
    display: flex;
    flex-direction: row; /* Change flex direction to column */
    align-items: flex-start; /* Align items to the start of the column */
    justify-content: space-between; /* Space between items */
    height: 100%; /* Ensure the header takes up full height */
    padding-bottom: 1em;
}

.boxHeader > div {
    width: auto; 
}
.deviceTotal {
    border-left: 4px solid white;
    padding-left: 2em;
}
.deviceTotal p{
    background-color: white;
    border-radius: 25px;
    padding: 1em;
    margin: 0;
}
.deviceTotal p + p {
    margin-top: 1em; /* Adjust the value as needed */
}
.restrictResults {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items to the left and right edges */
    align-items:center;
}
.OuterBar button{
    background-color: transparent;
    border-style: none; 
}
.addBtn {
    font-family: "Merriweather", serif;
    padding: 1em 1.2em;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 50%; 
}
.circleBtn {
    text-align: center;
    font-size: medium;
    font-family: "Merriweather", serif;
    background-color: #488494;
    padding: 1em 1.2em;
    width: fit-content;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;  
    cursor: help; 
    margin: 0; /* Reset margin to remove any default spacing */
    align-self: center;
}
.custom-select {
    border-radius: 25px;
    color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    background-color: white;
    appearance: none;
    -webkit-appearance: none; 
    margin-right: 1em;
}
#search{
    margin: 0;
    padding-right: 10em;
    margin-right: auto;
}
#search-bar{
    color:white;
    color:black;
    border-radius: 25px;
    padding: 10px;
    padding-right: 10em;
    width: 25em;
}
.InnerPanel{
    background-color: white;
    border-radius: 25px;
}
.InnerPanel table{
    width: 100%;
    padding: .2em .2em;
}
.InnerPanel hr {
    height: .2em;
    background-color: black;
    width: 99%;
}
.InnerPanel table:nth-child(n+1) tr td{
    border-radius: 25px;
    color: black;
    padding-bottom: .5em;
    font-size: 20px;
    text-align: center;
}

