.accordion .accordion-item:nth-child(odd) button {
    background-color: #F1F0F0;
}

.accordion .accordion-item:nth-child(even) button{
    background-color: #D6D6D6;
}

tr.accordion-content {
    background-color: #D6D6D6;
    /* display:none; */
}
.accordion tr th,
.accordion tr td {
    width: auto;
    overflow: hidden;
}
.accordion tr td {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
}
.accordion-item td {
    display: flex;
    align-items: center;
} 

form > div {
    display: flex;
    justify-content: space-between; /* Adjusts the children's spacing */
    align-items: center; /* Aligns children vertically in the center */
    flex-wrap: wrap;
    margin: 0;
}
form > div .contentRecord{
    background-color: #F1F0F0;
    border-radius: 25px;
    padding: 1em;
    margin: 1em;
}  
.rowOne{
    margin: 1em;
}
.rowOne > div, .rowTwo > div, .rowThree > div, .rowFour > div{
    display: flex;
    align-items: center;  
}

.rowOne, .rowTwo, .rowThree, .rowFour {
    display: flex;
    justify-content: space-between;
}

.rowOne p, .rowTwo p, .rowThree p, .rowFour p {
    padding: 0 1em; /* Adjust padding as needed */
    display: inline-block; 
    width: auto;
}

.rowOne p:nth-child(even), .rowTwo p:nth-child(even), .rowThree p:nth-child(even) {
    margin: 0;
    background-color: white;
    border-radius: 40px;
}

.rowTwo > div p.contentRecord, .rowThree > div p.contentRecord {
    background-color: white;
    border-radius: 40px;
    padding: 10px; /* Adjust padding as needed */
    margin: 0; /* Remove default margin */
}

.rowTwo > div input, .rowThree > div input {
    border-radius: 40px;
    padding: 15px; /* Adjust padding as needed */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text within the input */
    width: 80%; /* Adjust width as needed */
}

.rowFour input, .rowFour button, .rowThree button {
    border-radius: 40px;
    border-style: none;
    text-decoration: underline;
    padding: 1em;
    font-size: large;
}
.rowFour input, .rowFour button{
    background-color: #F1F0F0;
}
.rowThree button , .rowThree button{
    background-color: #488494;
    color: white;
}
#datepicker {
    width: fit-content;
}